.container
  .profilePage_header
    .profile_back_icon
      = link_to image_tag('back.svg'), :back
    .profilePage_user_actionButton
      - if user == current_user
        =link_to 'Edit Profile', edit_profile_path
      - else
        - if current_user&.has_followed?(user)
          %p フォロー済み
        - else
          =link_to 'Follow', account_follows_path(user), data: {method: 'post'}
    .profile_username
      = user.username
    

  .avatar
    = image_tag user.avatar_image, class:'profile_usericon'

  .account_status
    .post_status
      %p
    %p.status-text Posts

    .followers_status
      %p
    %p.status-text Followers

    .following_status
      %p
    %p.status-text Following
