.article {
  margin-top: 40px;
//   margin-bottom: 25px;

  &_nav {
      display: flex;
      margin-bottom: 15px;;

      &_text {
          margin-left: 10px;

          &_name {
              font-size: 14px;
          }
      
          &_time {
              font-size: 12px;
          }
      }

      &_avatar {
          border-radius: 50%;
          height: 35px;
          width: 35px;
      }
  }
  &_content {
      display: flex;
      overflow: auto;
      scroll-snap-type: x;
      min-width: 100%;

      &_image {
          scroll-snap-align: start;
          display: block;
          max-height: 450px;
          max-width: 100%;
          flex: none;
          object-fit: cover;
          min-width: 100%;
      }
  }

  &_action {
      margin-top: 12px;
      margin-bottom: 8px;
      display: flex;
  }

  &_icon {
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-right: 10px;
  }

  &_usericon {
    width:35px;
    height:35px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &_liked {
      font-size: 12px;
      display: flex;
  }

  &_comments{
    font-size: 12px;
    display: flex;
  }

  &_text {
      display: flex;
  }

  &_user_name {
      font-size: 14px;
      margin-right: 5px;
  }
  &_text_content {
      font-size: 12px;
      margin-bottom: 12px;
  }

  &_share{
      top: auto;
  }

}