@import 'variables';

$image_size: 56px;


.profilePage_header {
  margin-top : 20px;
  margin-bottom : 30px;
}

.profile_usericon{
  margin-top: 100px;
  width: 76px;
  height: 76px;
  border-radius: 99px;
  margin: 0 auto;
  display: block;
}


.profile_username {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align : center;
   position :relative;
   top : -25px;
   font-weight : bold;
   pointer-events : none;
   font-size : 20px;
 }


