@import 'variables';

$image_size: 56px;


.profilePage_header {
  margin-top : 20px;
  margin-bottom : 30px;
}


.profile_back_icon img{
  width : 20px;
}

.profile_usericon{
  margin-top: 100px;
  width: 76px;
  height: 76px;
  border-radius: 99px;
  margin: 0 auto;
  display: block;
}


.profile_username {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align : center;
   position :relative;
   top : -25px;
   font-weight : bold;
   pointer-events : none;
   font-size : 20px;
 }

 .profilePage_user_actionButton{
    display: flex;
    // justify-content: right;
    font-size: 12px;
    border-radius: 3px;
    border: 0.1px solid #dbdbdb;
    font-weight: bold;
    padding: 0px 8px;
    margin-left: auto;
    width: 92px;

    a {
      color: $primary-color;
    }
 }


 .avatar_PostImage{
   text-align: center;
   margin: 15px;
 }

 .post_image{
   cursor: pointer;
 }

 .image_form {
  display: none;
}

 .avatar_submit_btn {
  border : none;
  margin-left : 5px;
  color: #4F4F4F;
  cursor: pointer;
  
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 


 .account_status {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: center;
  margin-top: 50px;
  margin-left: 20px;
  
}

.status-text{
  text-decoration: none;
  color: gray;
}

.post_status{
  margin-left: 11px;
}

.status-count{
  margin-left: 20px;
}

.followers_status{
  margin-left: 39px;
  text-decoration: none;
  color: black;
}

.following_status{
  margin-left: 31px;
  text-decoration: none;
  color: black;
}
